<%- include('partials/header.ejs') %>
<canvas id="bgCanvas"></canvas>
<div class="editpage">
  <div class="editpageform">
    <form action="/addtask" method="post">
      <label for="heading">Heading</label>
      <input type="text" name="heading" id="heading" placeholder="Heading" required>
      
      <label for="taskinfo">Task Info</label>
      <input type="text" name="taskinfo" id="taskinfo" placeholder="Task" required>
      
      <button type="submit">Add Task</button>
    </form>
  </div>
</div>
<%- include('partials/footer.ejs') %>
