<%- include('partials/header.ejs') %>

<div class="indexInfo">

    <h1>welcome to task manger app </h1>
    <a class="loginBTN" href="/login">login</a>
    <a class="registerBTN" href="/register">register</a>
    <a class="googleBTN" href="/auth/google">google</a>
    
</div>


<%- include('partials/footer.ejs') %>